.sppb-addon-header, .sppb-addon-text-block {
  .sppb-addon-title{
    >span {
      background-color: $colorMain;
      padding: 6px 12px;
      color: $colorWhite;
    }
  }
}
.sppb-btn {
  padding-left: 1em;
  padding-right: 1em;
}
.sppb-btn-xlg {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.sppb-btn-primary {
  background-color: $colorMain;
  border-color: $colorMain;
  color: $dark;
  &:hover {
    background-color: darken($colorMain, 10%);
    border-color: darken($colorMain, 10%);
  }
}
.sppb-addon-tweet {
  .sppb-tweet-slider {
    .sppb-carousel-control {
      display: none;
    }
    a {
      color: inherit;
    }
    .sppb-tweet-text {
      font-size: 1.18rem;
    }
    .sppb-tweet-created {
      &:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: '\f099';
        margin-right: 5px;
      }
    }
  }
}
.sppb-pricing-box {
  border: 1px solid darken($border-color,5%);
  padding: 65px 20px 30px;
  .sppb-pricing-header .sppb-pricing-title {
    background-color: $colorBlack;
    color: $colorWhite;
    position: absolute;
    width: 120px;
    height: 120px;
    top: -70px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid $colorWhite;
  }
}
.sppb-testimonial-pro {
  .sppb-carousel-control {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $colorBlack;
    border-color: $colorBlack;
    color: $colorWhite;
    &.left {
      right: 40px;
    }
    &:hover {
      background-color: $colorMain;
      border-color: $colorMain;
    }
  }
  .sppb-addon-testimonial-pro-footer {
    flex-direction: column;
    >img {
      margin-bottom: 1em;
    }
  }
}
.sppb-btn-dark {
  color: $colorWhite !important;
}
.image-layout-preset-style-poster .sppb-addon-image-layout-content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.padding-0 {
  .hikashop_products_listing .hikashop_product {
    padding: 0;
  }
}
.sppb-social-follow {
  .sppb-social-items-wrap {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      > li {
        display: inline-block;
        margin-right: 1rem;
        text-align: center;
        a {
          color: $colorBlack;
          &:hover {
            color: $colorMain;
          }
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
.sppb-social-share-style-solid {
  .sppb-social-follow {
    a {
      color: $white !important;
    }
  }
  ul li.sppb-social-share-dribbble a {
    background-color: #e84f89;
  }
}
.sppb-progress {
  margin-bottom: 0;
}
.sppb-panel-faq {
  >div.sppb-panel-heading {
    padding-left: 0;
    border-color: $border-color;
  }
  div.sppb-panel-body {
    border-color: $border-color;
  }
}
.sppb-addon-articles{
  .sppb-article-meta {
    i {
      margin-right: 6px;
    }
  }
  h3 {
    font-size: 18px;
    line-height: 1.2;
    a {
      color: inherit;
    }
  }
  .sppb-img-responsive {
    margin-bottom: 1rem;
  }
  &.list-style {
    .sppb-article-info-wrap {
      h3 {
        font-size: 14px;
        font-family: inherit;
        line-height: inherit;
        font-weight: inherit;
        margin-bottom: 0;
        &:before {
          font-family: "Font Awesome 5 Free";
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          line-height: 1;
          font-weight: 900;
          content: '\f0da';
          margin-right: 9px;
        }
      }
    }
    .sppb-addon-article {
      margin-bottom: 0;
      padding: 7px 0;
    }
  }
  .lead-container {
    position: relative;
    width: 100%;
    height: 100%;
    h3 {
      font-size: 23px;
      a {
        color: $white;
      }
    }
  }
  .sppb-addon-article-lead {
    .sppb-img-responsive {
      margin-bottom: 0;
    }
    .sppb-article-info-wrap {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 20px 25px;
      background-color: rgba(0,0,0,0.5);
    }
  }
  >.flex-row {
    .sppb-addon-article-lead {
      .sppb-article-img-wrap {
        >.sppb-img-responsive {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
.sppb-addon-feature {
  .sppb-addon-title {
    a {
      color: inherit;
    }
  }
}
.landing-demos {
  .sppb-addon-content {
    transition: all .2s;
    background-color: $white;
    box-shadow: 0 0 32px rgba(74,74,225,0.09);
    padding: 5px;
    border-radius: 3px;
    .sppb-img-container {
      position: relative;
      >a{
        &:before {
          transition: all .2s;
          content: '';
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          text-transform: uppercase;
          font-size: 24px;
          font-weight: 500;
          font-family: "Roboto Condensed";
          color: #fff;
        }
      }
    }
    &:hover {
      box-shadow: 0 0 32px rgba(74,74,225,0.2);
      .sppb-img-container {
        >a {
          &:before {
            content: 'View Demo';
            background-color: fade_out($dark, 30%);
          }
        }
      }
    }
  }
}
.landing-customizer {
  .sppb-addon-feature {
    .sppb-addon-content {
      transition: all .2s;
      border-radius: 4px;
      box-shadow: 0 0 32px rgba(74,74,225,0.2);
      padding: 18px 20px;
      background-color: $white;
      &:hover {
        box-shadow: 0 0 32px rgba(74,74,225,0.3);
      }
    }
  }
}
.landing-benefit {
  .sppb-addon-feature {
    .sppb-media-content {
      max-width: 320px;
      margin: 0 auto;
    }
  }
}
.cta-button {
  div {
    font-size: 19px;
  }
  del {
    font-size: 35px;
    line-height: 1;
    opacity: 0.7;
  }
  strong {
    font-size: 68px;
    line-height: 1;
    font-weight: 700;
    padding-left: 15px;
  }
}