#astroid-header{
  &.has-sidebar{
    z-index: 1050;
    .astroid-logo {
      justify-content: flex-start;
    }
    .astroid-sidebar-block {
      padding: 10px 0;
    }
  }
  .astroid-sidebar-content {
    padding: 15px 25px;
  }
  .astroid-sidebar-collapsed-logo {
    margin: 15px 0;
    display: none;
  }
  @media(max-width: 1600px) {
    .astroid-sidebar-menu {
      li a {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .astroid-sidebar-content {
      padding: 0;
      > div.astroid-sidebar-menu, div.astroid-sidebar-block {
        padding: 10px 20px;
      }
    }
    &.has-sidebar {
      .astroid-sidebar-logo {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
  @media(min-width: 1200px) and (max-width: 1600px) {
    .astroid-sidebar-collapsed-logo {
      display: flex;
      justify-content: center;
    }
    &.expanded {
      .astroid-sidebar-collapsed-logo {
        display: none;
      }
    }
  }
  .moduletable {
    width: 100%;
  }
}
.astroid-layout{
  &.astroid-layout-boxed {
    .astroid-wrapper {
      max-width: map-get($container-max-widths, "xl") + 100;
    }
  }
}
.astroid-header-section.header-absolute {
  position: absolute;
  z-index: 1050;
  width: 100%;
  background-color: transparent !important;
}