.nav-item-megamenu {
  .megamenu-container {
    padding: 15px 0;
    .col {
      border-right: 1px solid $border-color;
      &:last-child {
        border-right: none;
      }
    }
  }
}
.astroid-nav {
  .nav-stacked-logo {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.astroid-header-section header.astroid-stacked-divided-header {
  .astroid-nav-wraper {
    padding-left: 0 !important;
  }
  .astroid-nav {
    .nav-link.active {
      border: 1px dashed;
    }
  }
  .form-group {
    margin-bottom: 0;
  }
  input[type="image"] {
    object-fit: contain;
    padding: 0.375rem 0.8rem;
  }
}
.astroid-sidebar-menu {
  li {
    a {
      padding-left: 0;
      padding-right: 0;
    }
  }
  @media(max-width: 1600px) {
    li {
      a {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}
.astroid-offcanvas {
  .astroid-offcanvas-inner {
    .moduletable {
      margin-left: 0;
      margin-right: 0;
      .module-title {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}