/* Override Bootstrap and Astroid Variables Here */
$primary:             #2c2e36 !default;
$secondary:           #ff3366 !default;
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1170px
) !default;

// Custom Button 
$btn-border-radius-lg:  0.2rem !default;
$btn-padding-y-lg:      0.6rem !default;
$btn-padding-x-lg:      2.5rem !default;
$colorMain:             #f7c221 !default;
$colorSocialLink:       rgba(136, 136, 136, 1) !default;
$colorSocialLinkHover:  rgba(255, 255, 255, 1) !default;
$colorWhite:            #ffffff !default;
$colorBlack:            #000000 !default;